<div>

  <hr />
  <h1><span>Tax Summary</span></h1>
</div>
<div class="container round-container">
  <div class="row">
    <section>
      <div class="col-md-8">
        <div>
          <h2>Resume of transactions: </h2>
        </div>
        <hr />

        <div>
          <div><strong>Number of clients:</strong> {{summary.totalClients}}</div>
          <div><strong>Total number of transactions:</strong> {{summary.totalTransactions}}</div>
          <div><strong>Total amount of transactions:</strong> {{summary.totalAmount}}</div>
          <div><strong>Total number of files uploaded:</strong> {{summary.fileCount}}</div>
        </div>
        <br />
      </div>
      </section>
        <hr />
    </div>
  </div>
