<h1>Tax Manager</h1>


<nav>
  <a class="button"
     routerLink="/tax-documents"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">Tax Documents</a> |
  <a class="button"
     routerLink="/upload"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">Upload new transactions</a> |
  <a class="button"
     routerLink="/summary"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">Tax Summary</a> 
</nav>
<br />

<form id="searchForm" (ngSubmit)="searchTransactions(searchTerm)" class="navbar-form navbar-right">
  <div class="form-group">
    <button class="btn btn-default" modal-trigger="searchResults">
      Client Search
    </button> &nbsp;
    <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Client Transactions" style="padding: 0px 0px !important">
  </div>
  
</form>


<router-outlet></router-outlet>
