  <div class="row" style="margin-top:30px;">
  
  <div class="col-md-3">
    <a href="https://storageaccountict.blob.core.windows.net/taxfiles/Transactions Template.xltx">Download the template here(Click this link)</a>
  </div>
    <br />
  <div class="col-md-3">
    <label>Select a template to upload:</label>
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>
